* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	
	color: #313135;
}

h2 {
	font-size: 1.4em;
	font-weight: 600;
	text-align: center;
	margin-bottom: 20px;
}

h3 {
	font-size: 1.2em;
	font-weight: 400;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: left;
}

a {
	text-decoration: none;
	color: #025ebf;
	transition: all 0.1s ease-out;
	font-size: 1.1em;
}

.link:hover {
	opacity: 0.5;
}

.icon {
	width: 40px;
	height: 40px;
	padding: 0 15px;
}

.contact-p {
	font-size: 1.2em;
	text-align: center;
	font-weight: 300;
	line-height: 1.6;
}

.subheading {
	text-align: center;
	padding-bottom: 15px;
}

a.subheading-link {
	color: #313135;
	font-size: 1.4em;
	font-weight: 600;
}

/* Home */

.home {
	min-height: 100vh;
	background: #f1f4f6;
	width: 100%;
}

.home .home-content {
	padding-top: 10%;
	padding-left: 50px;
	padding-right: 50px;
	margin: 0 auto;
}

.home-content img {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	display: block;
	margin: auto;
	border: 1px solid #313135;
}

.home h1 {
	font-size: 2.5em;
	text-align: center;
	margin: 20px 0;
}

.home p {
	font-size: 1.4em;
	text-align: center;
	padding-bottom: 10px;
}

.role-link {
	font-size: 1.0em;
}

.navlink {
	font-size: 1.0em;
}

@media (min-width: 320px) {
	.home .navlink {
		font-size: 1.1em;
	}
}

/* About and Contact Sections */

.section-white {
	display: block;
	background: #fff;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 0 auto;
}

.section-blue {
	display: block;
	background: #f1f4f6;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 0 auto;
}

.content {
	font-size: 1.2em;
	text-align: left;
	font-weight: 300;
	line-height: 1.6;
}

p span {
	color: #025ebf;
}

@media (min-width: 320px) {
	.section-white .content,
	.section-blue .content {
		width: 300px;
		margin: 0 auto;
	}
}

@media (min-width: 768px) {
	.section-white .content,
	.section-blue .content {
		width: 350px;
		margin: 0 auto;
	}
}

@media (min-width: 1024px) {
	.section-white .content,
	.section-blue .content,
	.section-white .contact-p {
		width: 410px;
		margin: 0 auto;
	}
}

/* Projects */

.image-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: 10px;
	grid-auto-rows: 150px;
}

.image-list img {
	width: 250px;
}

.projects {
	display: block;
	background: #fff;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 0 auto;
}

.projects-column {
	width: 100%;
	text-align: left;
	padding-bottom: 30px;
	margin: 0;
}

.techtag {
	display: inline-block;
	text-align: center;
	font-size: 0.7em;
	font-weight: 400;
	padding: 5px 5px;
	margin: 5px 5px 0 0;
	border: 1px dotted #313135;
	border-radius: 2px;
}

@media (min-width: 320px) {
	.projects .projects-column {
		width: 300px;
		margin: 0 auto;
	}
}

@media (min-width: 768px) {
	.projects .projects-column {
		width: 350px;
		margin: 0 auto;
	}
}

@media (min-width: 1024px) {
	.projects .projects-column {
		width: 410px;
		margin: 0 auto;
	}
}